body {
    margin: 0;
    padding: 0;
}

#camera {
    position: fixed;
    top: 50%;
    left: 50%;

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    z-index: -100;

    transform: translateX(-50%) translateY(-50%);
}

.mdl-dialog__content {
    text-align: center;
}

#resultsContainer {
    overflow-wrap: break-word;

    border: 0;
    border-radius: 1em;
    background-color: #dedede;
    padding: 0.5em 2em;
}

#snapshotLimitOverlay {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 70vmin;
    height: 70vmin;

    transform: translateX(-50%) translateY(-50%);

    text-align: center;
}

#snapshotLimitOverlay:after {
    content:'';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.4);
}

#snapshot {
    display: none;
}

#loading {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
}

#flipCamera, #aboutButton {
    position: absolute;
    background-color: #eee;
}

#flipCamera {
    display: none;

    top: 5vmin;
    right: 5vmin;
}

#aboutButton {
    bottom: 5vmin;
    left: 5vmin;
}

#about {
    background-color: white;
    height: 100%;
}

#about h4 {
    margin-top: 0;
}
